h1:first-child {
  font-size:200px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Arial Narrow', Arial, sans-serif, Times, serif;
  text-align: center;
  color:white;
}

 /* section  {
  size: 10%;
 }  */



/* 
body > img:first-child {
  size: 50%;
} */

body {
  background-image: url('./images/배경1.jpg');
  /* background-image: url('./images/배경2.jpg'); */
  background-size: cover; /* 이미지가 화면 전체에 맞도록 크기를 조절 */
  background-position: center; /* 이미지가 가운데에 위치하도록 설정 */
  background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
}

nav {
  /* display: inline-block; */
  /* margin-right: auto; */
  padding:50px;
  margin:10px;
  /* size-adjust: ; */
  text-align: center;
  /* 가운데로 맞추고 싶은데 계속 왼쪽에 치우쳐져서 혹시나 마진 조정해야하나 했는데 걍 텍얼 센터 하니까 ㅇㅇ */
}

nav > div > img {
  margin:40px;
  display: inline-block;
}


div {
  display: inline-block;
  margin:40px;
  border-radius: 50px;
}

div > h1 {
  color:white;
}